*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    scroll-behavior: smooth;
}

body{
    height: 2000px;
    align-items: center;
}

/*------------------------------------PÁGINA INICIAL E BARRA DE NAVEGAÇÃO----------------------------------------*/
section, 
footer{
    padding: 54px 0;
}

.container img{
    width: 50px;
    height: 50px;
}

.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 5px;
}

header{
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
}

nav{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-top: 20px;
   padding-left: 2%;
   padding-right: 2%;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul a{
    color: white;
    margin: 0 10px;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
}

nav ul a::after{
    content: "";
    background-color: rgb(72, 0, 139);
    height: 3px;
    width: 0%;
    display: block;
    margin: 0 auto;
    transition: 0.3s;
}

nav ul a:hover::after{
    width: 100%;
}

.banner{
   display: flex; 
}

.banner .banner-text{
    margin-left: 5%;
    margin-top: 1%;
}

.banner .banner-text h1{
    font-size: 80px;
    padding: 2%;
}

.banner .banner-text p{
   font-size: 20px;
   color: rgb(230, 230, 230);
   font-weight: lighter; 
   padding: 2%;
   padding-bottom: 6%;
   text-transform: none;
}

.banner .banner-text .btn{
    margin-top: 40%;
    color: white;
    background-color: blueviolet;
    border-radius: 32px;
    border: 0;
    font-size: 20px;
    padding: 15px 20px;
    cursor: pointer;
    transition: 0.1s;
}

.banner .banner-text .btn:hover{
    background-color: white;
    color: rgb(72, 0, 139);
    /* background: linear-gradient(to right, #9F66FF, #DFCBFF); */
}
/*-----------------------------------------PÁGINA INICIAL---------------------------------------------------*/

/*-------------------------------------------INFORMAÇÕES----------------------------------------------------*/
.saibamais h3{
    text-align: center;
    font-size: 50px;
    padding-top: 2%;
    color: rgb(72, 0, 139);
}

.saibamais p{
    margin-bottom: 20px;
    text-align: center;
    color: #9e99a7;
    font-size: 20px;
    text-transform: none;
}

main.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 32px;
}

main.cards section.card-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: white;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    width: 260px;
    max-height: 468px;
    margin-left: 32px;
    transition: 0.1s;
}

main.cards section.card-contact:hover{
    background-color: #9F66FF;
    color: white;
    margin-top: -5px; /*Isso faz o card aumentar de tamanho quando passa o mouse encima*/
    transition: 0.1s;
}

main.cards section.card-contact:first-child {
    margin-left: 0;
}

main.cards section.card-contact .icon {
    width: 64px;
    height: 64px;
}

main.cards section.card-contact img {
    width: 100%;
}

main.cards section.card-contact h3 {
    font-size: 100%;
    margin: 16px 0;
    transition: 0.1s;
}

main.cards section.card-contact span {
    font-weight: 300;
    max-width: 240px;
    font-size: 80%;
    margin-bottom: 16px;
    transition: 0.1s;
}

main.cards section.card-contact .botao {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    font-size: 80%;
    font-weight: 500;
    color: #fff;
    margin-bottom: 16px 0;
    background-color: #9F66FF;
    transition: 0.1s;
}

main.cards section.card-contact .botao:hover{
    background-color: white;
    color: #9F66FF;
}

main.cards section.card-contact a:hover{
    background-color: white;
    transition: 0.1s;
}

main.cards section.card-contact {
    box-shadow: 20px 20px 50px -30px blueviolet;
}

@media screen and (max-width: 720px) {
    main.cards {
        flex-direction: column;
    }

    main.cards section.card {
        margin-left: 0;
        margin-bottom: 32px;
    }

    main.cards section.card:last-child {
        margin-bottom: 0;
    }

    main.cards section.card .botao {
        font-size: 70%;
    }
}

/*-------------------------------------------INFORMAÇÕES----------------------------------------------------*/

/*-----------------------------------------------AÇÕES------------------------------------------------------*/
.acoes{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 580px;
    padding-top: -20%;
}

.acoes .banner1 .banner-text h1{
    text-align: center;
    font-size: 100px;
    color: rgb(122, 122, 122);
}

.acoes .banner1 .banner-text p{
    text-align: center;
    font-size: 30px;
    text-transform: none;
}

.acoes .banner1 .banner-text{
    margin-top: -7%;
    margin-left: 15%;
    width: 950px;
}

.conteudoacoes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.acoes .conteudoacoes .noticia{
    background-color: #f0f0f0;
    margin: 15px;
    border-radius: 14px;
    text-align: center;
    width: 400px;
    transition: 0.3s;
}

.acoes .conteudoacoes .noticia img{
    width: 350px;
    display: block;
    margin: 10px auto;
    cursor: pointer;
}

.acoes .conteudoacoes .noticia h3{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
    cursor: pointer;
}

.acoes .conteudoacoes .noticia:hover h3{
    color: #9F66FF;
}

.acoes .conteudoacoes .noticia p{
    color: gray;
}

.acoes .banner1 .banner-text .but{
    position: relative;
    background-color: rgb(72, 0, 139);
    padding: 10px 22px;
    justify-content: center;
    margin-left: 43%;
    border-radius: 6px;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: 0.1s;
}

.acoes .banner1 .banner-text .but:hover{
    background-color: white;
    color: rgb(72, 0, 139);
}
/*-----------------------------------------------AÇÕES------------------------------------------------------*/


/*----------------------------------------------NOTÍCIAS----------------------------------------------------*/
.noticias h3{
    text-align: center;
    font-size: 50px;
    padding-top: 2%;
    color: rgb(72, 0, 139);
}

.noticias p{
    margin-bottom: 20px;
    text-align: center;
    color: #9e99a7;
    font-size: 20px;
    text-transform: none;
}

.noticias{
    margin-top: -12%;
    align-items: center;
}

.cardnoticia0{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-direction: row;
    align-items: center;
    margin-top: -6%;
}

.cardnoticia{
    background-image: url(assets/aluna.png);
    width: 300px;
    height: 350px;
    align-items: center;
    border-radius: 12px;
    padding: 5px 5px;
}

.cardnoticia h2{
    color: #fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    padding-top: 60%;

}

.bot{
    margin-top: -5%;
    position: relative;
}

hr{
    margin-right: 2%;
    margin-left: 2%;
}

.bot .but{
    border-radius: 6px;
    background-color: #dad9dd;
    padding: 10px 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 15px;
    margin-left: 90%;
}

/*------------------------------------------- --NOTÍCIAS----------------------------------------------------*/


/*----------------------------------------------FALE CONOSCO------------------------------------------------*/

.faleconosco{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
    padding-top: -20%;
    margin-top: -5%;
}

.banner1{
    display: flex; 
    width: 100%;
    padding-top: 1%;
 }

 .banner1 .banner-text{
    padding-top: 4%;
 }
 
 .banner1 .banner-text{
     margin-left: 5%;
 }
 
 .banner1 .banner-text h1{
     font-size: 80px;
     padding: 2%;
 }
 
 .banner1 .banner-text p{
    font-size: 25px;
    color: rgb(230, 230, 230);
    font-weight: lighter; 
    padding: 2%;
    padding-bottom: 6%;
    text-transform: none;
 }

 .banner1 .noticia .btn{
    margin-top: 20%;
    color: white;
    background-color: blueviolet;
    border-radius: 32px;
    border: 0;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.1s;
    text-transform: none;
}

.banner1 .noticia .btn:hover{
    background-color: white;
    color: rgb(72, 0, 139);
}

.banner1 .noticia .social i{
    color: white;
    font-size: 60px;
   /*  padding: 5px;
    margin: 5px; */
    cursor: pointer;
}

.conteudo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.faleconosco .conteudo .noticia{
    margin: 15px;
    border-radius: 14px;
    text-align: center;
    width: 400px;
    transition: 0.3s;
}

.faleconosco .conteudo .noticia img{
    width: 350px;
    display: block;
    margin: 10px auto;
    cursor: pointer;
}

.faleconosco .conteudo .noticia h3{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    color: white;
}

.faleconosco .conteudo .noticia p{
    color: rgb(87, 86, 86);
}

/*----------------------------------------------FALE CONOSCO------------------------------------------------*/

/*---------------------------------------------EQUIPE-------------------------------------------------------*/
.equipe h3{
    text-align: center;
    font-size: 50px;
    padding-top: 2%;
    color: rgb(72, 0, 139);
}

.equipe .subtitulo{
    margin-bottom: 20px;
    text-align: center;
    color: #9e99a7;
    font-size: 20px;
    text-transform: none;
}

.container1{
    margin-top: -11%;
    margin-bottom: -11%;
}

.bodyequipe{
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 20px;
}

.slide-container{
    max-width: 1120px;
    width: 100%;
}

.slide-content{
    margin: 0 25px;
}

.card{
    border-radius: 25px;
    background-color: white;
}

.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 5px;
}

.image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    background-color: #a87eec;
    height: 90%;
    width: 100%;
    border-radius: 25px 25px 0 0;
}

/* .overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #a87eec;
}

.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: white;
} */

.card-image{
    position: relative;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    background: #fff;
    padding: 3px;
}

.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid blueviolet;
}

.card-wrapper{
    padding-bottom: 3%;
}

.card-content{
    margin-top: -7%;
}

.name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.card-content .description{
    font-size: 15px;
    color: #707070;
    text-align: justify;
    margin-top: 4%;
    text-transform: none;
}

/*---------------------------------------------EQUIPE-------------------------------------------------------*/

/*--------------------------------------------RODA PÉ-------------------------------------------------------*/
.pe{
    background: linear-gradient( #9F66FF, rgb(89, 1, 172));
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 10px;
    margin-top: 10%;
    position: absolute;
    width: 100%;
    height: 15%;
    border-top-left-radius: 180px;
}

/* .pe .social{
    margin-bottom: 15px;
} */

/* .pe .social i{
    font-size: 22px;
    border: 2px solid white;
    padding: 10px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
} */

.pe .links{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.pe .links a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 15px;
}

.pe .copyright{
    font-size: 12px;
    margin-top: 25px;
}
/*--------------------------------------------RODA PÉ-------------------------------------------------------*/




